<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:salat="http://hbt.de/salat/thymeleaf"
      layout:decorate="~{layout/base}"
      th:with="section='budget',subSection='budgets',title=${isEdit} ? #{main.budget.form.title.edit} : #{main.budget.form.title.create},sectionTitle=#{main.general.mainmenu.budget.text}">
<main layout:fragment="content">

  <div th:if="${formErrors != null and not #lists.isEmpty(formErrors)}" class="alert alert-danger mb-3">
    <p th:each="e : ${formErrors}" th:text="${e}" class="mb-0"></p>
  </div>

  <salat:form th:action="@{/budget/store}" th:object="${budgetForm}" th:id-property="*{id}">
    <salat:inputs>
      <salat:textInput th:field="*{name}" th:label="#{main.budget.field.name}" required="true" maxlength="255" />
      <div class="row">
        <div class="col-md-6">
          <salat:select th:field="*{customerorderSign}" th:label="#{main.budget.field.customerorderSign}">
            <option value="" th:text="#{main.customerorder.select.please}">--- Auftrag ---</option>
            <option th:each="co : ${customerorders}"
                    th:value="${co.sign}"
                    th:text="|${co.sign} - ${co.shortdescription}|"></option>
          </salat:select>
        </div>
        <div class="col-md-6">
          <salat:select th:field="*{suborderSign}" th:label="#{main.budget.field.suborderSign}">
            <option value="" th:text="#{main.budget.field.suborderSign.none}">--- Kein Unterauftrag ---</option>
            <option th:each="so : ${suborders}"
                    th:value="${so.sign}"
                    th:text="|${so.completeOrderSign} - ${so.shortdescription}|"></option>
          </salat:select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <salat:textInput th:field="*{validFrom}" type="date" th:label="#{main.budget.field.validFrom}" required="true" />
        </div>
        <div class="col-md-6">
          <salat:textInput th:field="*{validUntil}" type="date" th:label="#{main.budget.field.validUntil}" required="true" />
        </div>
      </div>
      <salat:checkboxSwitch th:field="*{active}" th:label="#{main.general.active.text}" />
    </salat:inputs>
    <salat:buttons>
      <salat:formButtons th:saveLabel="${isEdit} ? #{main.button.label.edit.text} : #{main.button.label.save.text}" th:cancelHref="@{/budget}" />
    </salat:buttons>
  </salat:form>

</main>
</html>
