@font-face {
	font-family: "SimplonNorm";
	font-style: normal;
	font-weight: 300;
	src: url("SimplonNorm-Light-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SimplonNorm";
	font-style: normal;
	font-weight: 400;
	src: url("SimplonNorm-Regular-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SimplonNorm";
	font-style: normal;
	font-weight: 700;
	src: url("SimplonNorm-Bold-WebS.woff2") format("woff2");
}

.invoice_suborder_row {
	font-family: SimplonNorm;
	font-weight: bold;
	border: none;
	border-collapse: collapse;
	white-space: nowrap;
	padding: 4px 8px;
	border-bottom: 1px solid black;
}

.invoice_header {
	font-family: SimplonNorm;
	font-weight: normal;
	border: none;
	text-align: left;
	white-space: nowrap;
	padding: 4px 8px;
	padding-bottom: 1em;
}

.invoice_booking_row {
	font-family: Monospaced, SimplonNorm;
	border: none;
	border-collapse: collapse;
	white-space: nowrap;
	padding: 4px 8px;
}

.invoice_subordersum_row {
	font-family: Monospaced, SimplonNorm;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	white-space: nowrap;
	padding: 4px 8px;
	border-top: 1px solid black;
	padding-bottom: 2em;
}

.invoice_totalsum_row {
	font-family: Monospaced, SimplonNorm;
	border: none;
	font-weight: bold;
	white-space: nowrap;
	padding: 4px 8px;
}

.invoice_hint {
	font-family: SimplonNorm;
}

.invoice_title {
	font-family: SimplonNorm;
	font-weight: bold;
	border: none;
	white-space: nowrap;
}

.invoice_address_line {
	font-family: SimplonNorm;
	border: none;
	white-space: nowrap;
}

.invoice_time_reference {
	font-family: SimplonNorm;
	font-weight: bold;
	border: none;
	white-space: nowrap;
}

.hbt_logo {
	height: 1.5cm;
	margin-bottom: 1cm;
	float: left;
}

.hbt_claim {
	height: 0.75cm;
	float: right;
	margin-top: 0.75cm;
}

.right {
	text-align: right;
}

.wrap {
	white-space: unset;
}

.last_timereport {
	padding-bottom: 1em;
}
