body { /*#CCFF99, #9fa9cc, #9db7b7,#c4e1f1*/
	background-color: #f1f7ff;
	/*
  background-image: url("/images/poller.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	 */
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	color: black;
}

.borderStyle {
	border-spacing: 2px;
	border-collapse: separate;
}

.noBborderStyle {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.info {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 7pt;
}



.tooltip {
	position:absolute;
	left:12em;
	background-color:#f1f7ff;
	border:1px solid #94b0d0;
	width:350px; padding:6px;
	z-index: 4;
	display: none;
}

.version {
	position:absolute;
	right:12px;
	top:1px;
	font-size:7pt;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells: show;
}

table.backgroundcolor { /*background-color: #a3bddb;*/
	color: black;
}

tr,td,th {
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	border: 1px black solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}



th { /*a3bddb*/
	background-color: #94b0d0;
	color: white;
}

tr.primarycolor {
	background-color: transparent;
}

tr.secondarycolor {
	background-color: #c1d5eb;
}

/*-- T�tigkeitsbericht --*/
table.matrix {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	font-family: verdana, arial, sans-serif;
	font-size: 9pt;
	color: black;
}

tr.matrix,td.matrix,th.matrix {
	font-family: verdana, arial, sans-serif;
	font-size: 8pt;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

tr.matrix,td.matrix {
	border: 1px black solid;
}

th.matrix #borderdouble {
	border-style: double;
	border-color: black;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.borderdotted{
	border-style:dotted;	
}

#button {
	background-color: #7390b1;
	color: #ffffff;
}

#treeViewStyle {
	font-size: 14px; 
	font-weight: normal ;
	border: 0px;
	background-color: transparent;
	color: black;
	text-align :left;
	
}

img {
	border: 0px;
}

.layer1 {
	z-index: 1;
}

.layer2 {
	z-index: 2;
}

/*-- Menu --*/
a:link,a:visited {
	color: white;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: underline;
}

#nav a {
	text-decoration: none;
}

#nav li li a {
	display: block;
	font-weight: normal;
	color: black;
	padding: 0.2em 8px;
}

#nav li li a:hover {
	padding: 0.2em 5px;
	border: 5px solid #4f6b8c;
	border-width: 0 5px 0 5px;
}

.menu ul, menu ul {
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index:20000;
}

menu li, .menu li {
	text-align: center;
	float: left;
	position: relative;
	width: 19.9%;
	border: 1px solid black;
	border-width: 1px 0;
	color: white;
}

ul#nav li {
	background-color: #94b0d0;
}

ul#nav li:hover,ul#nav li.over {
	background-color: #7390b1;
}

ul#nav li li {
	width: 100%;
	border: 0px;
}

li#first {
	border-left-width: 1px;
}

li#last {
	border-right-width: 1px;
	max-width: 100%;
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

li>ul {
	top: auto;
	left: auto;
}

li:hover ul,li.over ul {
	display: block;
}

td#matrixTableLink a:link, td#matrixTableLink a:visited, td#matrixTableLink a:hover, td#matrixTableLink a:active{
	color: black !important;
	text-decoration:none;
}

.select2-results__option {
	padding: 0px;
}

.select2-results__option, .select2-selection__rendered {
	font-family: arial, verdana, sans-serif;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
    height: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 18px;
	padding-bottom: 1px;
	padding-left:3px;
	color: black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
}

textarea.showDailyReport {
	width: 100%;
}

.middle-aligned, .favOrderBtn {
	vertical-align: middle;
}

.invisible {
	visibility:hidden;
}

.massedit-time-shift-dropdown {
	position: relative;
	display: inline-block;
}
.massedit .dropdown-btn {
	cursor: pointer;
	border: none;
}
.massedit .dropdown-content {
	display: none;
	position: absolute;
	right:-20px;
	box-shadow: 10px 10px 5px grey;
	border: 1px solid darkgray;
}
.massedit .massedit-time-shift-dropdown:hover .dropdown-content, .dropdown-content:focus {
	display: block;
}
.massedit table, .massedit tr, .massedit td {
	border: 0px;
	background-color: white;
	cursor: pointer;
}
.massedit td {
	text-align: center;
	width: 50%;
}
.massedit td:hover {
	background-color: grey;
}
.massedit-error input {
	box-shadow: 0px 0px 5px 3px red;
}
.dropdown-content th {
	white-space: nowrap;
}
