server:
  tomcat:
    resource:
      allow-caching: true
      cache-ttl: 1d
spring:
  web:
    resources:
      cache:
        period: 1d
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/0af2c34e-4e40-42d9-89ab-e095b8151308/v2.0
salat:
  auth:
    logout:
      enabled: true
      logout-url: /.auth/logout
    api-scope: api://dea20d63-0092-4fdd-8192-44e6743c6a71/user_impersonation
    easy-auth:
      principal-id-header-name: x-ms-client-principal-id
      oidc-id-token:
        header-name: x-ms-token-aad-id-token
        principal-claim-name: mailnickname
        principal-id-claim-name: oid
  auth-service:
    cache-expiry: 1h
  reporting:
    email:
      from: salat-noreply@hbt.de
springdoc:
  swagger-ui:
    oauth:
      client-id: dea20d63-0092-4fdd-8192-44e6743c6a71
      client-secret:
      use-pkce-with-authorization-code-grant: true
      scopes:
        - api://dea20d63-0092-4fdd-8192-44e6743c6a71/user_impersonation
        - openid
      oauth2-redirect-url: https://salat.hbt.de/api/doc/swagger-ui/oauth2-redirect.html