server:
  tomcat:
    resource:
      allow-caching: true
      cache-ttl: 1d
spring:
  web:
    resources:
      cache:
        period: 1d
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/0af2c34e-4e40-42d9-89ab-e095b8151308/v2.0
salat:
  auth:
    logout:
      enabled: true
      logout-url: /.auth/logout
    refresh:
      enabled: true
      refresh-url: /.auth/refresh
    oidc-id-token:
      principal-claim-name: mailnickname
      header-name: x-ms-token-aad-id-token
    access-token:
      header-name: x-ms-token-aad-access-token
      expires-on-header-name: x-ms-token-aad-expires-on
    principal-header-name: x-ms-user-principal-name
    unauthenticated-redirect-uri: /.auth/login/aad?post_login_redirect_uri=%s
    session-cookie-name: AppServiceAuthSession
    api-scope: api://dea20d63-0092-4fdd-8192-44e6743c6a71/user_impersonation
  auth-service:
    cache-expiry: 1h
  reporting:
    email:
      from: salat-noreply@hbt.de
springdoc:
  swagger-ui:
    oauth:
      client-id: dea20d63-0092-4fdd-8192-44e6743c6a71
      client-secret:
      use-pkce-with-authorization-code-grant: true
      scopes:
        - api://dea20d63-0092-4fdd-8192-44e6743c6a71/user_impersonation
        - openid
      oauth2-redirect-url: https://salat.hbt.de/api/doc/swagger-ui/oauth2-redirect.html