<Configuration status="warn" monitorInterval="5">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p %d{dd.MM.yyyy HH:mm:ss.SSS} [%t] (%F:%L) %m%n" />
		</Console>
		<!-- File name="file" fileName="d:/kd/workspace-salat/tb/log/salat.log" ignoreExceptions="false" append="false">
			<PatternLayout pattern="%5p %d{dd.MM.yyyy HH:mm:ss.SSS} (%F:%L) %m%n" />
		</File-->
		<Async name="async" includeLocation="true" blocking="true" bufferSize="128">
			<!-- AppenderRef ref="file" /-->
			<AppenderRef ref="console" />
		</Async>
	</Appenders>
	<Loggers>
		<!--<Logger name="org.tb.web.action" level="info"></Logger>
		<Logger name="org.tb.web.action" level="debug"></Logger>
		<Logger name="org.tb.persistence" level="debug"></Logger>

		<Logger name="org.hibernate" level="debug"></Logger>-->

		<Logger name="org.springframework.orm.hibernate3" level="info"></Logger>
		<Logger name="org.hibernate.jdbc" level="info"></Logger>

		<Root level="info">
			<AppenderRef ref="async" />
		</Root>
	</Loggers>
</Configuration>
