<configuration>

  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <conversionRule conversionWord="correlationId" converterClass="org.springframework.boot.logging.logback.CorrelationIdConverter" />
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
  <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

  <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(${LOGGED_APPLICATION_NAME:-}[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <property name="CONSOLE_LOG_CHARSET" value="${CONSOLE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
  <property name="CONSOLE_LOG_THRESHOLD" value="${CONSOLE_LOG_THRESHOLD:-TRACE}"/>

  <springProfile name="production | staging">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
          <timestamp>
            <fieldName>ts</fieldName>
            <timeZone>Europe/Berlin</timeZone>
            <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS</pattern>
          </timestamp>
          <loggerName>
            <fieldName>l</fieldName>
            <shortenedLoggerNameLength>40</shortenedLoggerNameLength>
          </loggerName>
          <threadName>
            <fieldName>th</fieldName>
          </threadName>
          <logLevel>
            <fieldName>lvl</fieldName>
          </logLevel>
          <mdc/>
          <message />
          <stackTrace>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
              <maxLength>4096</maxLength>
              <shortenedClassNameLength>40</shortenedClassNameLength>
              <!-- generated class names -->
              <exclude>\$\$FastClassByCGLIB\$\$</exclude>
              <exclude>\$\$EnhancerBySpringCGLIB\$\$</exclude>
              <exclude>^sun\.reflect\..*\.invoke</exclude>
              <!-- JDK internals -->
              <exclude>^com\.sun\.</exclude>
              <exclude>^sun\.net\.</exclude>
              <!-- dynamic invocation -->
              <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
              <exclude>^org\.springframework\.cglib\.</exclude>
              <exclude>^org\.springframework\.transaction\.</exclude>
              <exclude>^org\.springframework\.validation\.</exclude>
              <exclude>^org\.springframework\.app\.</exclude>
              <exclude>^org\.springframework\.aop\.</exclude>
              <exclude>^org\.springframework\.beans\.</exclude>
              <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>
              <rootCauseFirst>true</rootCauseFirst>
              <inlineHash>true</inlineHash>
            </throwableConverter>
          </stackTrace>
        </providers>
      </encoder>
    </appender>
  </springProfile>

  <springProfile name="local | localeasyauth | test">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      </encoder>
    </appender>
  </springProfile>

  <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
  <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
  <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
  <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
  <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
  <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
  <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>

  <logger name="p6spy" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>