<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- Generic master table fragments usable across modules -->
  <div class="d-none">

    <th:block th:fragment="table(_headerRow, _bodyRows)" th:with="
      _addButtonEnabled = (${_addButtonEnabled} ?: true),
      _addButtonLabel = (${_addButtonLabel} ?: #{main.general.add.text}),
      _addButtonIcon = (${_addButtonIcon} ?: 'ti-file-plus'),
      _addButtonHref = (${_addButtonHref} ?: null),
      _filterEnabled = (${_filterEnabled} ?: true),
      _filterHref = (${_filterHref} ?: '#'),
      _filterValue = (${_filterValue} ?: '')
    ">
      <div class="card mb-3" th:if="${_addButtonEnabled or _filterEnabled}">
        <div class="card-body">
          <form class="row g-2" method="get" th:action="${_filterHref}">
            <div class="col-md-6">
              <input th:if="${_filterEnabled}" type="text" class="form-control" name="filter" placeholder="Filter"
                     th:value="${_filterValue}" />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" type="submit"><i class="icon ti ti-filter m-0"></i></button>
            </div>
            <div class="col-auto ms-auto">
              <a class="btn btn-success" th:href="${_addButtonHref}" th:if="${_addButtonEnabled}">
                <i class="icon ti" th:classappend="${_addButtonIcon}"></i>
                [[${_addButtonLabel}]]
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive card">
        <table class="table table-vcenter card-table">
          <thead th:insert="${_headerRow}"></thead>
          <tbody th:insert="${_bodyRows}"></tbody>
        </table>
      </div>
    </th:block>

    <th:block th:fragment="header()" th:with="
      _label = (${_label} ?: null),
      _responsive = (${_responsive} ?: false)
    ">
      <th th:if="${_label == null}" class="w-1"></th>
      <th th:if="${_label != null}" th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}"><span th:text="${_label}">Header</span></th>
    </th:block>

    <th:block th:fragment="text(_value)" th:with="
      _responsive = (${_responsive} ?: false),
      _additional = (${_additional} ?: null),
      _defaultValue = (${_defaultValue} ?: null)
    ">
      <td th:with="_value = (${_value} ?: ${_defaultValue})"
          th:if="${_additional == null}"
          th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}"
          th:text="${_value}">value</td>
      <td th:with="_value = (${_value} ?: ${_defaultValue})"
          th:if="${_additional != null}"
          th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">
        <div th:text="${_value}">value</div>
        <small class="text-muted" th:text="${_additional}">additional</small>
      </td>
    </th:block>

    <th:block th:fragment="yesNo(_value)" th:with="
      _responsive = (${_responsive} ?: false)
    ">
      <td th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">
        <span th:if="${_value}" class="text-success"><i class="icon ti ti-circle-check"></i> Yes</span>
        <span th:if="${!_value}" class="text-danger"><i class="icon ti ti-circle-x"></i> No</span>
      </td>
    </th:block>

    <th:block th:fragment="date(_date)" th:with="
      _pattern = (${_pattern} ?: 'yyyy-MM-dd'),
      _responsive = (${_responsive} ?: false)
    ">
      <td th:text="${#temporals.format(_date, _pattern)}"
          th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">2025-01-01 00:00</td>
    </th:block>

    <th:block th:fragment="dateTime(_date)" th:with="
      _pattern = (${_pattern} ?: 'yyyy-MM-dd HH:mm'),
      _responsive = (${_responsive} ?: false)
    ">
      <td th:text="${#temporals.format(_date, _pattern)}"
          th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">2025-01-01 00:00</td>
    </th:block>

    <th:block th:fragment="dateRange(_from, _until)" th:with="
      _pattern = (${_pattern} ?: 'yyyy-MM-dd'),
      _responsive = (${_responsive} ?: false)
    ">
      <td th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">
        <div th:text="${#temporals.format(_from, _pattern)}" class="text-nowrap">From</div>
        <small class="text-muted">
          <span th:if="${_until == null}" th:text="#{main.general.open.text}">open</span>
          <span th:if="${_until != null}" th:text="${#temporals.format(_from, _pattern)}">Until</span>
        </small>
      </td>
    </th:block>

    <td th:fragment="action(_href)" th:with="
      _enabled = (${_enabled} ?: true),
      _icon = (${_icon} ?: 'ti-pencil'),
      _btnClass = (${_btnClass} ?: 'btn-outline-secondary')
    ">
      <a th:if="${_enabled}" th:class="|btn ${_btnClass}|" th:href="${_href}"><i th:class="|icon ti ${_icon} m-0|"></i></a>
    </td>

    <td th:fragment="editAction(_href)" th:with="
      _enabled = (${_enabled} ?: true),
      _icon = (${_icon} ?: 'ti-pencil')
    ">
      <a th:if="${_enabled}" class="btn btn-outline-primary" th:href="${_href}"><i th:class="|icon ti ${_icon} m-0|"></i></a>
    </td>

    <td th:fragment="deleteAction(_href)" th:with="
      _enabled = (${_enabled} ?: true),
      _icon = (${_icon} ?: 'ti-trash')
    ">
      <a th:if="${_enabled}" class="btn btn-outline-danger"
         th:onclick="|return confirm('Are you sure?');|"
         th:href="${_href}"><i th:class="|icon ti ${_icon} m-0|"></i></a>
    </td>

    <td th:fragment="flex(_content)" th:with="
          _responsive = (${_responsive} ?: false)
        "
        th:class="${_responsive ? '' : 'd-none d-sm-table-cell'}">
      <th:block th:insert="${_content}"/>
    </td>

  </div>
</body>
</html>
