<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- Generic master table fragments usable across modules -->
  <div class="d-none">

    <th:block th:fragment="masterTable(_headerRow, _bodyRows)" th:with="
      _addButtonEnabled = (${_addButtonEnabled} ?: true),
      _addButtonLabel = (${_addButtonLabel} ?: #{main.general.add.text}),
      _addButtonIcon = (${_addButtonIcon} ?: 'ti-file-plus'),
      _addButtonHref = (${_addButtonHref} ?: null),
      _filterEnabled = (${_filterEnabled} ?: true),
      _filterHref = (${_filterHref} ?: '#'),
      _filterValue = (${_filterValue} ?: '')
    ">
      <div class="card mb-3" th:if="${_addButtonEnabled or _filterEnabled}">
        <div class="card-body">
          <form class="row g-2" method="get" th:action="${_filterHref}">
            <div class="col-md-6">
              <input th:if="${_filterEnabled}" type="text" class="form-control" name="filter" placeholder="Filter"
                     th:value="${_filterValue}" />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" type="submit"><i class="icon ti ti-filter m-0"></i></button>
            </div>
            <div class="col-auto ms-auto">
              <a class="btn btn-success" th:href="${_addButtonHref}" th:if="${_addButtonEnabled}">
                <i class="icon ti" th:classappend="${_addButtonIcon}"></i>
                [[${_addButtonLabel}]]
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive card">
        <table class="table table-vcenter card-table">
          <thead th:insert="${_headerRow}"></thead>
          <tbody th:insert="${_bodyRows}"></tbody>
        </table>
      </div>
    </th:block>

  </div>
</body>
</html>
