@CHARSET "UTF-8";

.ui-controlgroup-controls
{
    width:100%;
}
.ui-radio {
    width:100%;
}

.ui-button{
    width:100%;
}

.required {
	border:1px solid #e31c2f !important;
}

#bookingSuccessDialog span{
	font-weight: bold !important; 
}
