<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="section='orders',subSection='customer',title=#{main.general.mainmenu.customers.text},sectionTitle=#{main.general.mainmenu.customerorders.text}">
<section layout:fragment="content">

  <div th:replace="~{fragments/filter-card :: filterCard(
      params=${@filterCardParams.simple('cu')},
      formAction=@{/customers},
      primaryFilters=~{::primaryFilters},
      advancedFilters=_
  )}">
    <th:block th:fragment="primaryFilters">
      <div class="row g-2 align-items-end">
        <div class="col-md-6">
          <input type="text" class="form-control" name="filter" th:value="${filter}"
                 th:placeholder="#{main.general.filter.text}" />
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="submit">
            <i class="icon ti ti-filter m-0"></i>
          </button>
        </div>
        <div class="col-auto ms-auto" th:if="${#authorization.expression('hasRole(''MANAGER'')')}">
          <a class="btn btn-success" th:href="@{/customers/create}">
            <i class="icon ti ti-building-plus"></i>
            <span th:text="#{main.general.button.createcustomer.text}">New Customer</span>
          </a>
        </div>
      </div>
      <div class="row g-2 align-items-end mt-2">
        <div class="col-auto ms-2">
          <label class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="showHidden" value="true" th:checked="${showHidden}"/>
            <span class="form-check-label" th:text="#{main.customer.showhidden.text}">Show hidden</span>
          </label>
        </div>
      </div>
    </th:block>
  </div>
  <div th:replace="~{fragments/filter-card :: filterCardJs}"></div>

  <div class="table-responsive card">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th th:replace="~{fragments/master-table :: colHeaderPrimary(label=#{main.customer.shortname.text})}"></th>
          <th th:replace="~{fragments/master-table :: colHeader(label=#{main.customer.name.text})}"></th>
          <th th:replace="~{fragments/master-table :: colHeader(label=#{main.customer.address.text})}"></th>
          <th class="d-none d-lg-table-cell" th:text="#{main.general.flags.text}">Flags</th>
          <th th:replace="~{fragments/master-table :: colHeaderActionIcon()}"></th>
          <th th:replace="~{fragments/master-table :: colHeaderActionIcon()}"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${#lists.isEmpty(customers)}">
          <td colspan="6" class="text-center text-muted py-4" th:text="#{main.general.norecords.text}">No records found</td>
        </tr>
        <tr th:each="cu : ${customers}">
          <td th:replace="~{fragments/master-table :: colText(text=${cu.shortName}, responsive=null)}"></td>
          <td th:replace="~{fragments/master-table :: colText(text=${cu.name}, responsive='sm')}"></td>
          <td th:replace="~{fragments/master-table :: colText(text=${cu.address}, responsive='sm')}"></td>
          <td th:replace="~{fragments/master-table :: colSlot(content=~{::flagsCell}, responsive='lg')}">
            <th:block th:fragment="flagsCell">
              <span th:if="${cu.hide}" class="badge bg-secondary-lt" th:title="#{main.general.hide}"><i class="bi bi-eye-slash"></i></span>
            </th:block>
          </td>
          <td th:replace="~{fragments/master-table :: colEditLink(
              href=@{/customers/edit(id=${cu.id})},
              ifCondition=${#authorization.expression('hasRole(''MANAGER'')')}
          )}"></td>
          <td th:replace="~{fragments/master-table :: colDeleteForm(
              id=${cu.id},
              action=@{/customers/delete},
              ifCondition=${#authorization.expression('hasRole(''MANAGER'')')}
          )}"></td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
</html>
