<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="section='orders',subSection='customer',title=${pageTitle},sectionTitle=#{main.general.mainmenu.customerorders.text}">
<main layout:fragment="content">
  <form th:action="@{/customers/store}" th:object="${customer}" method="post" class="card">
    <div class="card-body">
      <input type="hidden" th:field="*{id}" />

      <div th:replace="~{fragments/form-fields :: textInput(
        params=${#ffield.required('shortName', 12)}, label=#{main.customer.shortname.text}
      )}"></div>

      <div th:replace="~{fragments/form-fields :: textInput(
        params=${#ffield.required('name', 255)}, label=#{main.customer.name.text}
      )}"></div>

      <div th:replace="~{fragments/form-fields :: textareaInput(
        params=${#ffield.requiredTextarea('address', 3)}, label=#{main.customer.address.text}
      )}"></div>

      <div th:replace="~{fragments/form-fields :: checkboxSwitch(
        field='hide', label=#{main.general.hide}
      )}"></div>
    </div>
    <div class="card-footer">
      <div th:replace="~{fragments/form-fields :: formButtons(${isEdit} ? #{main.button.label.edit.text} : #{main.button.label.save.text}, @{/customers})}"></div>
    </div>
  </form>
</main>
</html>
