body { /*#CCFF99, #9fa9cc, #9db7b7,#c4e1f1*/
	background-color: #f1f7ff;
	background-image: url(/tb/images/poller_weiß.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	color: black;
}

.borderStyle {
	border-spacing: 2px;
	border-collapse: seperate;
}

.noBborderStyle {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells: show;
}

table.backgroundcolor { /*background-color: #a3bddb;*/
	color: black;
}

tr,td,th {
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	border: 1px black solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

th { /*a3bddb*/
	background-color: #94b0d0;
	color: white;
}

tr.primarycolor {
	background-color: #ffffff;
}

tr.secondarycolor {
	background-color: #c1d5eb;
}

#button {
	background-color: #637282;
	color: #ffffff;
}

img{
	border: 0px;	
}

/*-- Menu --*/
a:link {
	color: black;
}

a:visited {
	color: black;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: underline;
}

#nav a {
	text-decoration: none;
}

#nav li li a {
	display: block;
	font-weight: normal;
	color: black;
	padding: 0.2em 8px;
}

#nav li li a:hover {
	padding: 0.2em 5px;
	border: 5px solid #4f6b8c;
	border-width: 0 5px 0 5px;
}

ul {
	font-family: verdana, arial, sans-serif;
	font-size: 11pt;
	font-weight:bold;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	float: left;
	position: relative;
	width: 11em;
	border: 1px solid black;
	border-width: 1px 0;
}


ul#nav li{
	background-color: #94b0d0;
}

ul#nav li:hover, ul#nav li.over{
	background-color: 7390b1;
}

ul#nav li li{
	width: 11em;
	border:0px;
}


li#first {
	border-left-width: 1px;
}

li#last {
	border-right-width: 1px;
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

li>ul {
	top: auto;
	left: auto;
}

li:hover ul,li.over ul {
	display: block;
}