<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:salat="http://hbt.de/salat/thymeleaf"
      layout:decorate="~{layout/base}">

<head>
  <title th:text="#{main.settings.title}">Settings</title>
</head>

<body>

<main layout:fragment="content">

  <salat:form th:action="@{/settings/store}" th:object="${settingsForm}">
    <salat:inputs>
      <salat:textInput type="time"
                       th:field="*{workDayStart}"
                       th:label="#{main.settings.workdaystart.label}"
                       required="true" />

      <salat:select th:field="*{locale}"
                    th:label="#{main.settings.locale.label}">
        <option value="-browser-" th:text="#{main.settings.locale.browser}">— Browser —</option>
        <option value="de" th:text="#{main.settings.locale.de}">Deutsch</option>
        <option value="en" th:text="#{main.settings.locale.en}">English</option>
      </salat:select>

      <salat:select th:field="*{favoriteSuborderId}"
                    th:label="#{main.settings.timereport.favorite.label}">
        <option value="" th:text="#{main.settings.timereport.favorite.none}">— Kein Favorit —</option>
        <option th:each="s : ${suborders}"
                th:value="${s.id}"
                th:text="${s.label}"
                th:attr="data-subtext=${s.subtext}"></option>
      </salat:select>

      <salat:textInput th:field="*{notificationEmail}"
                       th:label="#{main.settings.notification.email.label}"
                       th:helpText="#{main.settings.notification.email.help}"
                       th:placeholder="${defaultEmail}"
                       maxlength="255" />

      <salat:textInput th:field="*{gravatarEmail}"
                       th:label="#{main.settings.gravatar.email.label}"
                       th:helpText="#{main.settings.gravatar.email.help}"
                       th:placeholder="${defaultEmail}"
                       maxlength="255" />

    </salat:inputs>
    <salat:buttons>
      <salat:formButtons th:saveLabel="#{main.button.save}" th:cancelHref="@{/}" />
    </salat:buttons>
  </salat:form>

</main>

</body>

</html>
