<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="section='reports',subSection='reports',title=${pageTitle},sectionTitle=#{main.general.mainmenu.reporting.text}">
<main layout:fragment="content">

  <th:block th:object="${report}" th:insert="~{fragments/regular-form :: form(_action = @{/reporting/reports/store},_inputs = ~{:: inputs},_buttons = ~{:: buttons})}">
    <th:block th:fragment="inputs">
      <input type="hidden" th:field="*{id}" />
      <input type="hidden" name="filter" th:if="${filter}" th:value="${filter}" />
      <div th:replace="~{fragments/form-inputs :: text(_field = 'name',_label = 'Report Name',_required = true,_maxLength = 255)}"></div>
      <div th:replace="~{fragments/form-inputs :: text(_field = 'sql',_label = 'SQL',_required = true,_rows = 15,_monospace = true,_helpText = 'Use named parameters like :startDate, :endDate')}"></div>
    </th:block>
    <th:block th:fragment="buttons">
      <div th:replace="~{fragments/form-buttons :: saveCancel(_cancelHref = @{'/reporting/reports'(filter=${filter})},_saveLabel = ${isEdit ? 'Save Report' : 'Create Report'})}"></div>
    </th:block>
  </th:block>

  <div th:replace="~{fragments/regular-table :: table(
    _headerRow = ~{::headerRow},
    _bodyRows = ~{::bodyRows},
    _headline = 'Authorizations'
  )}">
    <th:block th:fragment="headerRow">
      <tr>
        <th th:replace="~{fragments/table-headers :: text(_value='User')}"></th>
        <th th:replace="~{fragments/table-headers :: text(_value='Access Level')}"></th>
        <th th:replace="~{fragments/table-headers :: text(_value='Validity')}"></th>
      </tr>
    </th:block>

    <th:block th:fragment="bodyRows">
      <tr th:each="auth : ${reportAuthorizations}">
        <td th:replace="~{fragments/table-columns :: text(_value=${auth.userSign})}"></td>
        <td th:replace="~{fragments/table-columns :: text(_value=${auth.accessLevel})}"></td>
        <td th:replace="~{fragments/table-columns :: text(_value=${auth.validity})}"></td>
      </tr>
    </th:block>
  </div>

</main>
</html>
