<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="section='reports',subSection='scheduled-report-jobs',title='Scheduled Report Jobs',sectionTitle=#{main.general.mainmenu.reporting.text}">
<main layout:fragment="content">

  <div th:replace="~{fragments/master-table :: masterTable(
      params=${#mtable.withAdd('Schedule Report', 'ti-clock-plus')},
      addHref=@{/reporting/jobs/create}, addIf=${true},
      thead=~{::theadContent}, tbody=~{::tbodyContent}
    )}">

    <thead th:fragment="theadContent">
      <tr>
        <th th:replace="~{fragments/master-table :: colHeaderPrimary(label=${'Name'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeader(label=${'Report'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeader(label=${'Recipients'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeader(label=${'Enabled'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeader(label=${'Schedule'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeader(label=${'Last Updated'})}"></th>
        <th th:replace="~{fragments/master-table :: colHeaderActionIcon()}"></th>
        <th th:replace="~{fragments/master-table :: colHeaderActionIcon()}"></th>
      </tr>
    </thead>

    <tbody th:fragment="tbodyContent">
      <tr th:each="job : ${jobs}">
        <td th:replace="~{fragments/master-table :: colText(text=${job.name}, responsive=null)}"></td>
        <td th:replace="~{fragments/master-table :: colText(text=${job.reportDefinition != null ? job.reportDefinition.name : '–'}, responsive='sm')}"></td>
        <td th:replace="~{fragments/master-table :: colText(text=${job.recipientEmails}, responsive='sm')}"></td>
        <td th:replace="~{fragments/master-table :: colYesNo(enabled=${job.enabled})}"></td>
        <td th:replace="~{fragments/master-table :: colTextAdd(text=${#strings.isEmpty(job.cronExpression) ? defaultCron : job.cronExpression}, additional=${cronDescriptions[job.id]}, responsive='sm')}"></td>
        <td th:replace="~{fragments/master-table :: colDate(date=${job.lastupdate})}"></td>
        <td th:replace="~{fragments/master-table :: colEditLink(href=@{'/reporting/jobs/edit'(id=${job.id})}, ifCondition=true)}"></td>
        <td th:replace="~{fragments/master-table :: colDeleteForm(id=${job.id}, action=@{'/reporting/jobs/delete'}, ifCondition=true)}"></td>
      </tr>
    </tbody>

  </div>

</main>
</html>
