name: Build JAR and Docker image and publish to GHCR
on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - assigned

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: hbtgmbh/salat
  BUILD_ID: ${{github.run_number}}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '25'
      - name: Build with Maven
        run: ./mvnw spring-boot:build-image --batch-mode --no-transfer-progress -Dsalat.image.tag=${{ env.BUILD_ID }}
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push docker image
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.BUILD_ID }}
      - name: Extract metadata (tags, labels) to use for Docker (incl. image tags)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
      - name: Push Docker image
        uses: akhilerm/tag-push-action@v2.2.0
        with:
          src: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.BUILD_ID }}
          dst: |
            ${{ steps.meta.outputs.tags }}
    
